In [36]:
import pandas as pd 
ds = pd.read_csv("Subsidios.csv")
in_1 = ds ['REG'] == 2
ds_1 = ds [in_1]
ds_1.head()

,OBJECTID,REG,PROV,COM,Seleccionados,Pagados,CUT,Programa,Capa,Shape_Length,Shape_Area
7,8,2,21,2101,439,185,2101,Arriendo_2014_2019,Subsidio Arriendo 2014-2019,10.805407,2.730276
8,9,2,21,2102,5,4,2102,Arriendo_2014_2019,Subsidio Arriendo 2014-2019,3.393679,0.314981
9,10,2,21,2103,1,0,2103,Arriendo_2014_2019,Subsidio Arriendo 2014-2019,5.060285,1.137690
10,11,2,21,2104,5,1,2104,Arriendo_2014_2019,Subsidio Arriendo 2014-2019,7.556026,1.831023
11,12,2,22,2201,139,28,2201,Arriendo_2014_2019,Subsidio Arriendo 2014-2019,5.983695,1.361124

In [37]:
def filtro_region(df, region):
    df_filtrada = df(region, 1)
    pass

In [38]:

df = pd.read_csv('bono.csv')
df.head()

,_id,Region,Cod.Comuna,Glosa Comuna,No en PBS,Mto.en PBS,No sin PBS,Mto.sin PBS,No en APS Internas,Mto.en APS Internas,Total No,Total Mto. m$
0,1,15.0,15101.0,ARICA,1711.0,16865.228,175.0,1735.217,75.0,879.887,1961,19480.332
1,2,15.0,15102.0,CAMARONES,7.0,85.364,0.0,0.000,0.0,0.000,7,85.364
2,3,15.0,15201.0,PUTRE,18.0,299.765,1.0,15.782,0.0,0.000,19,315.547
3,4,15.0,15202.0,GENERAL LAGOS,10.0,174.932,0.0,0.000,0.0,0.000,10,174.932
4,5,1.0,1101.0,IQUIQUE,1245.0,11184.990,117.0,1702.094,76.0,941.906,1438,13828.990

In [39]:
dc = pd.read_csv("leype.csv")
dc.head(5)

,Año,Mes,Moneda,Subtítulo,Nombre Subtítulo,Monto Ley Inicial,Monto Ley Vigente a NOVIEMBRE
0,2022,Noviembre,PESOS,8,OTROS INGRESOS CORRIENTES,0,3.234.457
1,2022,Noviembre,PESOS,15,SALDO INICIAL DE CAJA,0,240.628.711
2,2022,Noviembre,PESOS,21,GASTOS EN PERSONAL,0,142.674.550
3,2022,Noviembre,PESOS,22,BIENES Y SERVICIOS DE CONSUMO,0,393.555.648
4,2022,Noviembre,PESOS,24,TRANSFERENCIAS CORRIENTES,0,1.638.352.214